body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

h1 {
  text-align: center;
}

#entries-container {
  float: left;
  display: block;
  margin-left: 10px;
}

.entry {
  margin-top: 10px;
  border: 1px solid #999;
  width: 300px;
  padding: 5px;
  background-color: #fff;
}

#contents-container {
  float: right;
  margin: 10px;
}

#edit, #save {
  float: right;
}

#contents-box {
  margin-bottom: 5px;
}

.contents {
  padding: 5px;
  width: 500px;
  height: 500px;
  border: 1px solid #999;
}

.contents-edit {
  background-color: #ddd;
}

.contents-show {
  background-color: #fff;
}


