<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap-wysihtml5-0.0.2.css" />
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/bootstrap_journal.css" />
  <link rel="stylesheet" href="css/bootstrap-responsive.css" />
  <link rel="stylesheet" href="css/base.css" />
  <title>Paperchain</title>
</head>

<body>
  <!--navbar construction-->
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Paperchain</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Robert Frost</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <script id="chain-template" type="text/template">
    <div class="chain"></div>
  </script>

  <script id="entry-template" type="text/template">
    <div class="entry">
      <div class="info">
        <p class="title"><span class="label">Title:</span> <%- title %></p>
        <p class="date"><span class="label">Date:</span> <%- publishedDate %></p>
      </div>
      <div class="delete-container">
        <a id="delete" href="#"><i class="icon-remove"></i></a>
      </div>
    </div>
  </script>

  <script id="contents-show-template" type="text/template">
    <div class="title"><%- title %></div>
    <div id="contents-show" class="contents">
      <p><%= contents %></p>
    </div>
    <button id="edit">Edit</button>
  </script>

  <script id="contents-edit-template" type="text/template">
    <div class="title"><%- title %></div>
    <textarea id="contents-edit" class="contents"><%- contents %></textarea>
    <button id="save">Save</button>
  </script>

  <script id="stats-template" type="text/template">
    <div id="stats-info">
      <div id="totalwordcount">
        <div class="title">WORD COUNT</div><div class="stat"><%= totalwordcount %></div>
      </div><div id="pagesinbook">
        <img src="/img/book.png" /><div class="stat"><%= pagesinbook %></div><div class="title">PAGES IN BOOK</div></div>
      </div>
    </div>
  </script>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <script type="text/javascript" src="js/jquery-wordcounter.js"></script>
  <script type="text/javascript" src="js/wysihtml5-0.3.0.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/bootstrap-wysihtml5-0.0.2.js"></script>
  <script type="text/javascript" src="js/json2.js"></script>
  <script type="text/javascript" src="js/underscore.js"></script>
  <script type="text/javascript" src="js/backbone.js"></script>
  <script type="text/javascript" src="js/backbone.localStorage.js"></script>
  <script type="text/javascript" src="js/models/entry.js"></script>
  <script type="text/javascript" src="js/collections/entries.js"></script>
  <script type="text/javascript" src="js/views/contents.js"></script>
  <script type="text/javascript" src="js/views/entry.js"></script>
  <script type="text/javascript" src="js/views/app.js"></script>
  <script type="text/javascript" src="js/app.js"></script>

  <div id="daily" class="container-fluid">
    <div class="row-fluid" id="header">
      <div class="span4"></div>
      <div class="span4">
        <img class="logo" width="250px" src="/img/paperchain.png" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4"></div>
      <div id="chains" class="span4"></div>
    </div>
    <div class="row-fluid">
      <div id="entries-container" class="span3">
        <form id="addEntry" action="#">
          <!-- <label for="title">Title </label> --><input id="title" placeholder="Title" type = "text" /><br />
          <!-- <label for="author">Author </label><input id="author" type = "text" /><br /> -->
          <button id="create">Create</button>
          <button id="deleteAll">Delete All</button>
          <button id="loadSample">Load Demo</button>
        </form>
        <div id="entries"></div>
      </div>
      <div id="contents-container" class="span9"></div>
    </div>
    <div id="stats"></div>
  </div>

</body> 

</html>
